.cart_icon{
  width: 1%;
  height: 1%;
}

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-lists {
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-lists>.list {
  width: 27%;
  background-color: #FFF;
  list-style: none;
  border: 1px solid green;
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
}


.item-img-content {
  position: relative;
  margin: 3%;
}

.item-img {
  width: 13vh;
  height: 13vh;
}



.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  position: relative;
}

.item-name {
  font-size: 2vh;
  font-weight: bold;
  height: 15%;
  padding: 5px 0;
}

.item-explanation {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 70px;
}

.item-order {
  font-size: 1.5vh;
  height: 10%;
  padding: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
}



/* //商品一覧 */